.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-bottom: 20px;
}

.input {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
}

.button {
  margin: 0 auto;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #000;
}
